body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  user-select: none;
}

::selection {
  color: #000 !important;
  background: rgb(191, 229, 191) !important;
}

.ant-table-wrapper {
  user-select: text;
}

.ant-picker {
  width: 100%;
}
